.main__container {
    border: 2px solid black;
    height: auto;
}
.title__container {
    text-align: center;
    border: 2px solid red;
    margin: 2rem 0;
    padding: 2rem;
}
.title{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0.7rem;
}

.sub__title {
    font-size: 1.05rem;
    color: #64748b;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto-fit, 1fr));
    grid-template-rows: repeat(2, auto);      /* ! The auto allows the rows to adapt to the height of their content */
    grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6"
    ;
    gap: 2rem;
}

.pc{
    border: 2px solid black;
}

.player1 {
    grid-area: item1;
}

.player2 {
    grid-area: item2;
}

.player3 {
    grid-area: item3;
}

.player4 {
    grid-area: item4;
}

.player5 {
    grid-area: item5;
}

.player6 {
    grid-area: item6;
}

.information {
    display: flex;
    flex-direction: column;
}

.background__box {
    background-color: #F6F6F9;
    height: 384px;
    margin-bottom: 1rem;
}

.pc__player-title {
    font-weight: 600;
}

.pc__player-subtitle{
    font-weight: 400;
    color: #475569;
}

.reviews__container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars__icon {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.reviews__num {
    color: #a1a1aa;
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

hr.solid {
    border: 0.02rem solid #d7d7db;
    border-radius: 2px;
    margin: 1rem 0;
}


.pc__specs-title {
    font-size: 0.83rem;
    font-weight: 600;
    line-height: 0.9;
}

.pc__specs-description {
    font-size: 0.83rem;
    color: #475569;
    line-height: 0.4;
}

@media (min-width: 475px){
}

/* sm */
@media (min-width: 640px){}

/* md */
@media (min-width: 768px){}

/* lg */
@media (min-width: 1024px){}

/* xl */
@media (min-width: 1280px){}

/* 2xl */
@media (min-width: 1536px){}