.main__container {
    /* border: 2px solid black; */
    height: auto;
}
.title__container {
    text-align: center;
    /* border: 2px solid red; */
    margin: 2rem 0;
    padding: 2rem;
}
.title{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0.7rem;
}

.sub__title {
    font-size: 1.05rem;
    color: #64748b;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, auto);      /* ! The auto allows the rows to adapt to the height of their content */
    grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6"
    ;
    gap: 2rem;
}

.pc{
    /* border: 2px solid black; */
}

.player1 {
    grid-area: item1;
}

.player2 {
    grid-area: item2;
}

.player3 {
    grid-area: item3;
}

.player4 {
    grid-area: item4;
}

.player5 {
    grid-area: item5;
}

.player6 {
    grid-area: item6;
}

.information {
    display: flex;
    flex-direction: column;
}

.background__box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F9;
    height: 384px;
    margin-bottom: 1rem;
    cursor: pointer;
    overflow: hidden;  /* ! Hide the button initially */
    position: relative;
}

.background__box:hover .quick__shop {
    /* display: inline-block;
    transition: all 0.6s; */
    transform: translateY( 0%);  /* ! Move the button into view */
}

.bg__box-gradient {
    background-image: linear-gradient(#130d24,rgba(0,3,66,.1));
}

.pc__image {
    width: 300px;
    height: 300px;
    transition: transform 0.4s linear;
}

.background__box:hover .pc__image {
    transform: scale(1.1);
}

.quick__shop {
    position: absolute;
    bottom: 0;                     /* ! Place the button at the bottom */
    width: 100%;
    display: inline-block;
    transform: translateY(100%);   /* ! Move the button out of view */
    text-decoration: none;
    color: #e0e0e0 ;
    background-color: #616161;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: transform 0.6s ease;   /* ! Smooth transition for transform */
}

.quick__shop:hover{
    background-color: #8A00FC;
    color: white;
    transition: all 0.7s;
}

.pc__player-title {
    font-weight: 600;
}

.pc__player-subtitle{
    font-weight: 400;
    color: #475569;
}

.reviews__container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars__icon {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.reviews__num {
    color: #a1a1aa;
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

hr.solid {
    border: 0.02rem solid #d7d7db;
    border-radius: 2px;
    margin: 1rem 0;
}


.pc__specs-title {
    font-size: 0.83rem;
    font-weight: 600;
    line-height: 1.25;
}

.pc__specs-description{
    margin-bottom: 0.4rem;
}

.pc__specs-description span {
    display: block;
    font-size: 0.83rem;
    color: #475569;
    line-height: 1.25;
}

.pc__price {
    font-size: 0.9rem;
    letter-spacing: 0.04rem;
}

@media (min-width: 475px){

}

/* sm */
@media (min-width: 640px){}

/* md */
@media (min-width: 768px){}

/* lg */
@media (min-width: 1024px){}

/* xl */
@media (min-width: 1280px){}

/* 2xl */
@media (min-width: 1536px){}