/* Specificity is a point system that determines which selectors gets applied */

/* Ranking system */
/* style attributes, ids, classes, elements */

/* 0 1 0 0 */
#title {
    color: purple;
}

/* 0 0 1 0 */
.title {
    color: red;
}

/* 0 0 0 11 */
ul li ol li ul li ol li ul li h1 {
    color: green;
}