<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Modal</title>
  </head>
  <body>
    <button data-open-modal>Open</button>
    <div data-overlay class="overlay"></div>
    <div data-modal class="modal">
      <div>This is a modal</div>
      <button data-close-modal>Close</button>
    </div>    

    <script>
      const openButton = document.querySelector('[data-open-modal]');
      const closeButton = document.querySelector('[data-close-modal]');
      const modal = document.querySelector('[data-modal]');
      const overlay = document.querySelector('[data-overlay]');

      openButton.addEventListener("click", () => {
        modal.classList.add("open");
        overlay.classList.add("overlay");
      })

      closeButton.addEventListener("click", () => {
        modal.classList.remove("open");
        modal.classList.remove("overlay");
      })
    </script>
  </body>
</html>
