@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: 'Poppins', sans-serif;
}

/* You can underline, overline, line-through with text-decoration*/
.first-header{
    font-style: italic;
    font-size: 3em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: dashed;
}
.second-header{
    font-style: italic;
    font-size: 3em;
    letter-spacing: 3px;
    text-transform: lowercase;
    text-decoration: overline;
    text-decoration-color: blue;
    text-decoration-style: wavy; 
    text-decoration-thickness: 2px;     
}

/* text-decoration shorthand: decoration color style thickness */
.third-header{
    font-style: italic;
    font-size: 3em;
    letter-spacing: 3px;
    text-transform: capitalize;
    text-decoration: line-through purple dotted 5px;
}
p {
    font-weight: 200;
    font-size: 24px;
    line-height: 1.5;
}