@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* BEM: Blocks, Elements & Modifiers */
/* We want to use utility classes and they are reusable multiple times, hence "header"  */
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

.header {
    border: 1px solid red;
    margin-inline: auto;
    width: 90%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1rem 0;
}

.header__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    flex: 1;
}

.header__menu {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: center;
}

.header__link {
    text-decoration: none;
    color: #000;

}

.header__btn-container {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
