
@import "./components/card.pcss";


:root {
    --main-color: #3498db;
  }

body {
    background-color: var(--main-color);
    height: 100vh;
}

h1 {
    transform: translateX(10px)
    
}

h2 {
    color: white;
}


