@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit; /* The button element doesn't inherit the font family unless you specify */
}
/* Header */
.header{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 90%;
    margin-inline: auto;
    padding: 1rem 0;
}

.header__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    flex: 1;
}

.header__nav-container {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: center;
}

.header__link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* .header__link--red {
    color: red;
} */

.header__btn-container {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}

/* Utility Class */
.btn{
    border: none;
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}