<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <section class="hero">
        <h1 class="hero__title">Hello, World!</h1>
        <p class="hero__description">
            Dolore sit deserunt exercitation fugiat. Deserunt proident qui sint dolore sunt ex. Et culpa sint ad tempor proident nostrud Lorem deserunt id dolor. Reprehenderit qui nisi quis et occaecat enim laborum. Culpa voluptate do irure aliqua id esse sunt labore eu veniam ad. Quis minim qui id cupidatat ea.
            Laboris pariatur do sint officia tempor culpa et exercitation incididunt minim fugiat sint irure. Do laborum ullamco tempor est reprehenderit duis eu deserunt esse irure id. Minim dolore fugiat sint amet est esse sit ut dolore ut ad excepteur irure ad.
            Ea anim aliqua eiusmod cillum proident id nostrud officia amet sint nisi dolor occaecat. Aliquip et sunt aliqua ea ipsum ipsum eiusmod ex ut. Pariatur dolore tempor aliqua anim. Minim commodo in pariatur duis.
        </p>
    </section>
</body>
</html>