
.dashboard{
    display: flex;
}
.side__header {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 100dvh;
    background-color: var(--primary-clr);
}

.logo__container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    gap: 1.5rem;
}

.logo__icon {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}
.logo__title {
    color: white;
}

.links__container {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 1.9rem;
    /* border: 2px solid white; */
    margin-bottom: 1.5rem;
}

.link__icon {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.menu__link {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

.link__container-marginBottom {
 margin-bottom: 4rem;
}


.main__content {
    width: 80%;
    border: 3px solid orangered;
    min-height: 100dvh;
}


/* xs */
@media (min-width: 475px){
}

/* sm */
@media (min-width: 640px){}

/* md */
@media (min-width: 768px){}

/* lg */
@media (min-width: 1024px){}

/* xl */
@media (min-width: 1280px){}

/* 2xl */
@media (min-width: 1536px){}