.container{
	width: 90%;
	margin-inline: auto;
	padding-inline: 0.5rem;
	border: 4px solid black;
}

/* For Desktop */
/* 2xl */
@media (max-width: 1536px){

}

/* xl */
@media (max-width: 1280px){

}

/* lg */
@media (max-width: 1024px){

}

/* sm */
@media (max-width: 640px){

}

/* md */
@media (max-width: 768px){

}

/* XS */
@media (max-width: 475px){

}