<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>First Card Component</title>
</head>
<body>
    <div class="card">
        <img class="top-img" src="https://assets-global.website-files.com/6364b6fd26e298b11fb9391f/6364b6fd26e298f612b93c55_631576ebbd94c7cc86308308_DrawKit0018_Music_Banner.png" alt="illustration"/>

        <div clas="card-content">
            <div class="order-summary">
                <h2>Order Summary</h2>
                <p class="summary">You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>
            </div>

            <div class="plan-payment">
                <div class="change-plan">
                    <img class="icon" src="assets/music-note.svg" alt="Music Icon SVG" width="40px" height="40px"/>

                    <p class="plan">
                        <strong>Annual Plan</strong>
                        <span class="price">$59.99 / year</span>
                    </p>

                    <a href="">Change</a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>