/* Intuitive box model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Accessible line height, Improve text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #d6e1ff;
    font-family: 'Poppins', sans-serif;
}

/* Improve media defaults */
img {
    display: block;
    max-width: 100%;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.card {
    position: fixed;
    inset:  0px;
    width: 25rem;
    height: 45rem;
    max-width: 100dvw;
    max-height: 100dvh;
    margin: auto;

    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: white;
}

.top-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:  #fdf5ea;
}

.order-summary{
    text-align: center;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.15);
}

h2 {
    padding-top: 35px;
    padding-bottom: 15px
}

.summary {
    opacity: 0.75;
    max-width: 60ch;
    font-size: 16px;
}
.plan-payment {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.change-plan {
    background-color: #fdf5ea;
    width: 350px;
    height: 75px;
    margin: 20px 0;
    border-radius: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    margin: 0px 20px;
}

.plan {
    width: 120px;
}

.price {
    opacity: 0.7;
}

a {
    margin-left: 50px;
}

.btns {
    margin: 40px;
}

.payment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 12px;
    padding: 12px 70px;
    font-weight: 600;
    color: white;
    background-color: #ff611d;
    box-shadow: 0px 9px 8px 0px rgba(0, 0, 0, 0.15);
    font-size: 15px;
}

.cancel-btn {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 12px;
    padding: 12px 70px;
    background-color: #fdf5ea;
}