@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.card-container {
    align-items: center;
}

.card {
    max-width: fit-content;
    margin-inline: auto;
    background-color: black;
    margin: 90px auto;
    padding: 14px;
    border-radius: 13px;
}

.card-mainTitle {
    color: grey;
    
}

.card-subTitle {
    color: white;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-content {
    color: gray;
    padding-bottom: 14px;
    max-width: 55ch;
}

.content-role { 
    color: white;
}

.btn {
    all: unset;
    background-color: white;
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 14px;
}